
<div class="card">
  <div class="card-body">
    This Application will tell your knowledge on a whole host of different video games. The questions are ranked by difficulty and the higher the difficulty the more points you receive. Your points can be seen from the dashboard and more quizzes will be added in the future so you can keep on climbing the ranks. Future Updates:
    <ul>
      <li>Themes to suit your taste</li>
      <li>user profile</li>
      <li>Game reviews by other users</li>
      <li>upcoming news</li>
    </ul>
    Updates will be coming soon!
  </div>
</div>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h4>Latest News</h4>
			<ul class="timeline">
				<li>
					<a target="_blank" href="#">New Web Design</a>
					<a href="#" class="float-right">06 November, 2018</a>
					<p>Added updates to the place holder dashboard</p>
				</li>
				<li>
					<a href="#">placeholder</a>
					<a href="#" class="float-right">06 November, 2018</a>
					<p>Curabitur purus sem, malesuada eu luctus eget, suscipit sed turpis. Nam pellentesque felis vitae justo accumsan, sed semper nisi sollicitudin...</p>
				</li>
				<li>
					<a href="#">placeholder</a>
					<a href="#" class="float-right">06 November, 2018</a>
					<p>Fusce ullamcorper ligula sit amet quam accumsan aliquet. Sed nulla odio, tincidunt vitae nunc vitae, mollis pharetra velit. Sed nec tempor nibh...</p>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="text-muted mt-5 mb-5 text-center small">by : <a class="text-muted" target="_blank" href="#">placeholder</a></div>


